.App {
  text-align: center;
}

.App-logo {
  height: 96px;
  width: 96px;
  object-fit: contain;
  pointer-events: none;
  margin: 16px 0 8px;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: white;
  padding: 16px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
